.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #131f40;
}

.main {
    width: 400px;
    height: 250px;
}

.main-left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

/* .main-right-all {
    width:  250px;
    height: 250px;
} */

.main-right-top {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    float:left;
}

.main-right-bottom {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    float: left;
}

.main-right {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}

.main-bottom {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float:  right;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}